
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&family=Roboto:wght@300&display=swap');

/* Basic Styling */

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Roboto", sans-serif;
}

#our-story{
    margin: 0%;
    padding: 0%;
    height: 300px;
}

#our-story>div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 150px; 
    padding-right: 150px;
    padding-top: 100px;
    padding-bottom: 20px; 
    max-height: 200px;
}

#our-story h4{
font-family: DM Serif;
}

#our-story p{
    margin-top: 10px;
    font-size: 9px;
}

#our-story img{
    margin-right: 40px;
    width: 200px;
}

#our-story button{
    font-weight: 700;
    font-size: 9px;
    padding: 5px;
    margin-top: 20px;
    background-color: white;
    border: 1px solid rgb(104, 242, 196);
    box-shadow: none;
    color: rgb(104, 242, 196);
}

#watch{
    width: 100%;
    background-image: url("/design-assets/bgk-middle.png");
    height: 500px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#play{
    margin-bottom: 20px;
    width: 50px;
}

#watchstory{
    font-size: 9px;
    font-weight: 600;
    padding: 0%;
    margin: 0%;
}

/* Team Section */

/* .teamMembers{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.teamMembers img{
    margin: 0;
    padding: 0;
    width: 220px;
    height: 229px;
    background-color: whitesmoke;
}

.teamMembers .memberDescript{
    margin: 0;
    padding: 0;
    width: 222px;
    height: 83px;
    border: 1px solid #7a778d;
    text-align: center;
} */

.teamFooter{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.teamFooter p{
    color: white;
    margin-top: 10px;
}

.hiringBtn{
    width: 143px;
    height: 43px;
    border-radius: 1px;
    background-color: transparent;
    border-color: 1px solid #00e0d0;
    border-style: solid;
    color: #00e0d0;
    text-transform: uppercase;
    margin-top: 30px;
}



h2 {
    font-family: 'Playfair Display', serif;
}

#expertise {
    padding: 10px;
    padding-top: 50px;
    margin: 0 auto;
    text-align: center;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    margin: 0 auto;
}
.grid-item {
    border: 1px solid lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    padding: 10px;
    font-size: small;
}
.grid-item:first-child {
    border-top: none;
    border-left: none;
}
.grid-item:nth-child(2) {
    border-top: none;
}
.grid-item:nth-child(3) {
    border-top: none;
    border-right: none;
}
.grid-item:nth-child(4) {
    border-bottom: none;
    border-left: none;
}
.grid-item:nth-child(5) {
    border-bottom: none;
}
.grid-item:last-child {
    border-bottom: none;
    border-right: none;
}
#footer{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 20px;
    height: 400px;
    width: 100%;
    background-image:url("/design-assets/bgk-footer.png"); 
    background-size: cover;
   }
footer div{
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    justify-content: space-between;
    
}
footer div div{
    display: flex;
    flex-flow: column;
    width: 300px;
}
footer div :nth-child(1) img{
    width: 30px;
    margin-right: 10px ;
}
footer div :nth-child(1) p{
    line-height: 32px;
}
#oneone{
    margin-bottom: 20px;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
}
#onetwo{
    font-weight: bold;
    margin-top:70px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
footer div :nth-child(2){
    justify-content: flex-start;
    margin: 0%;
}
footer div :nth-child(2) div{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}
footer div :nth-child(3){
    margin: 0%;
}
footer div :nth-child(3) div{
    display: flex;
    flex-direction: row;
}
#threeone{
    justify-content: flex-start;
}
#threeone textarea{
    background-color: transparent;
    border: 1px solid gray;
    resize: none;
    height: 35px;
}
#threeone textarea::placeholder{
    font-size: smaller;
    color: gray;
    padding-left:0.5em;
    padding-top: 0.5em;
}
#threeone button{
    margin-left: 10px;
    width: 60px;
    opacity: 50%;
}
#threetwo{
    justify-content: flex-start;
    
}

footer div :nth-child(3) img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
footer div p, a{
    font-size: 9px;
    color: white;
}
footer div h6{
    color: white;
}
footer div div h3{
    color: aqua;
    font-weight: lighter;
}
.ourstudio{
    width: 15px;
    height: 20px;
    margin-right: 20px;
}
#phone{
    width: 20px;
    height: 20px;
    margin-right: 20px;
}
#copyright{
    display: flex;
    font-weight:bold;
    justify-content: flex-end;
}